#game {
	
	width: 100%;
	float: left;
    font-size:xx-large;
}

#startover {
	width: 200px;
	height: 50px;
	text-align: center;
	padding-top: 10px;
    margin-bottom: 20px;
	float:  left;
    font-size: x-large;
}

#bobhead {
    width: 7em;
    height: 7em;
}


.hoverOut {
	color: red;
	background-color: yellow;
}

.hoverIn {
	background-color: red;
	color: yellow;
}